.styleForm {
  margin-left: 50px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 300px;
  width: 300px;
}

.wrapName {
  margin-top: 20px;
}

.labelUsername {
  margin-top: 50px;
}

.usernameForm {
  display: flex;
  width: 250px;
  height: 30px;
}

.wrapNumber {
  margin-top: 20px;
}

.numberForm {
  display: flex;
  width: 250px;
  height: 30px;
}

.buttonForm {
  margin-top: 30px;
  /* margin-bottom: 90px; */
  margin-left: 20px;
  width: 200px;
  height: 50px;
  border: 2px solid black;
}

.css.error {
  color: red;
  font-size: 12px;
}
